@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

:root{
--font: 'Comfortaa', cursive;
--rock: images/rock.jpg;
}

body{
    font-family:var(--font);
}

.menu{
    display:block;
    position:absolute;
    font-size:32px;
    text-indent:6px;
    left:0;
    right:0;
    top:0;
    height:40px;
    background-color:red;
}

img{
    display:flex;
    width:400px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}

#computer{
    display:block;
    text-align:center;
    font-size:large;
    width:100%;
}

button{
    font-family:var(--font);
    background-color:grey;
    border-radius:2px;
    box-shadow: 2px;
}

a:hover{
    cursor: pointer;
    
}
.buttonGrid{
    display:-ms-grid;
    display:grid;
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

#userMove{
    display:block;
    text-align:center;
    font-size:large;
}

#result{
    display:block;
    text-align:center;
    font-size:40px;
    width:100%;
}

.wlt{
    display:table;
    text-align:center;
    columns:3;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.container{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content:stretch;
    gap:auto;
    margin-left:auto;
    margin-right:auto;
    padding-top: 50px;
}
#userBlock {
    order:1;
    flex-grow:1;
}

#computerBlock {
    order:1;
    flex-grow:1;
}

#scoreBlock {
    order:2;
    flex-grow:2;
}

@media only screen and (max-width: 600px) {

}